.text {
    color: #272727
}
.fields {
    display: flex;
    position: relative;
    justify-content: space-between;
    mat-form-field {
        min-width: 45%;
    }
    .close {
         position: absolute;
         right: 50%;
         top: 50%;
         transform: translate(50%, -50%);
         z-index: 2;
         cursor: pointer;
    }
}
.actions {
    float: right;
}